<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bium.chaeum.infrastructure.mybatis.mapper.RecommendationMapper">

    <insert id="insert" parameterType="RecommendationRecord">
        INSERT INTO RECOMMENDATION (
            RECOMMENDATION_ID,
            USER_ID,
            REQUEST_PROMPT,
            RECOMMENDATION_REASON
        )
        VALUES (
            #{recommendationId},
            #{userId},
            #{requestPrompt},
            #{recommendationReason}
        )
    </insert>

</mapper>