<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bium.chaeum.infrastructure.mybatis.mapper.RecommendationMealItemMapper">

    <insert id="insert" parameterType="RecommendationMealItemRecord">
        INSERT INTO RECOMMENDATION_MEAL_ITEM (
            RECOMMENDATION_MEAL_ITEM_ID,
            RECOMMENDATION_ID,
            DAYNUMBER,
            DIVISION,
            NAME,
            CARBOHYDRATE,
            PROTEIN,
            FAT,
            SODIUM,
            CALORIE
        )
        VALUES (
            #{recommendationMealItemId},
            #{recommendationId},
            #{dayNumber},
            #{division},
            #{name},
            #{carbohydrate},
            #{protein},
            #{fat},
            #{sodium},
            #{calorie}
        )
    </insert>

</mapper>